footer.footer 
	.section_in 
		.footer_row
			.footer_col_left 
				.footer_logo 
					a(href="#")
						img(src="i/global/logo.png", alt="")
				.footer_copyright © Все права защищены, 2022
			.footer_col_right 
				.footer_policy 
					a(href="#") Политика конфиденциальности
				.footer_arkada_brand 
					a(href="#")
						p Разработано arkada-web.ru
						.footer_arkada_icon 
							img(src="i/global/favicon.png", alt="")
		