.form_w
	form(action="")
		.form_input 
			input(type="text" placeholder="Ваше имя")
		.form_input 
			input(type="tel" placeholder="Ваш телефон")
		.form_policy!='Отправляя форму, вы соглашаетесь c <a href="#" target="_blank" >политикой конфиденциальности.</a>'
		.form_btn.btn 
			button(type="submit") Оставить заявку