.burger 
	.burger_bg.remove 
	.burger_main
		.burger_close.remove
			+icon('close') 
		.burger_logo 
			a(href="#")
				img(src="i/logo.svg", alt="")
		nav.burger_nav 
			ul 
				each item in ['Услуги', 'Преимущества', 'Контакты']
					li.remove 
						a(href="#")=item
		ul.contacts_list 
					-
						var contacts = [
							{
								title: 'Телефон',
								link: '+7 (982) 623-73-59'
							},
							{
								title: 'Почта',
								link: 'sotnikov2611@gmail.com'
							},
							{
								title: 'Адрес',
								txt: 'Екатеринбург, улица Металлургов, 44а'
							},
						]
					each item in contacts 
						li 
							p=item.title
							if item.link 
								a(href="#")=item.link
							else 
								span=item.txt
		.burger_call.btn.small.remove
			a(href="#") Заказать звонок