.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	background-color: $dark;
	@include bp($point_2)  {
		font-size: 1.4rem;
	}
}
.footer {
}
.section_in {
}
.footer_main {
	padding: 4.2rem 0 3rem 0;
	font-size: 1.6rem;
	.header_main {
		margin-bottom: 8rem;
		@include bp($point_2) {
			margin-bottom: 4rem;
		}
	}
	.header_col_left {
		border-right: 0
	}
}
.header_main {
}
.header_col_left {
}
.header_logo {
}
.header_nav {
}
.header_col_right {
}
.header_phone {
}
.header_icon {
}
.icon {
}
.icon-wa {
}
.header_call {
}
.footer_bottom {
	@include flex-space;
	@include bp($point_2) {
		flex-direction: column;
	}
}
.footer_copyright {
	@include bp($point_2)  {
		font-size: 1.4rem;
	}
}
.footer_col_right {
	@include flex-start;
	@include bp($point_2) {
		flex-direction: column;
		width: 100%;
	}
}
.footer_policy {
	margin-right: 8rem;
	@include bp($point_2) {
		margin: 1rem 0;
		padding: .7rem 0;
		font-size: 1.4rem;
		border-top: .1rem solid #e5e5e527;
		border-bottom: .1rem solid #e5e5e527;
		width: 100%;
		text-align: center;
	}
	a {
		border-bottom: .1rem solid $white;
		@include bp($point_2) {
			border: none;
		}
		&:hover {
			border-color: $trans
		}
	}
}
.arkada_link {
	a {
		@include flex-start;
		p {
			margin-right: 1.3rem;
			font-family: $font_1;
			font-weight: 300;
			@include bp($point_2)  {
				font-size: 1.4rem;
			}
		}
	}
}
.arkada_logo {
	max-width: 3.3rem;
	width: 100%;
	@include flex-center;
	@include bp($point_2) {
		width: 2.5rem;
	}
}