.header {
	position: absolute;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);
	@include flex-center;
	border-bottom: .1rem solid rgba(255, 255, 255, 0.1);;
}
.header {
}
.section_in {
}
.header_main {
	@include flex-start;
	@include bp($point_2) {
		justify-content: space-between
	}
}
.header_col_left {
	@include flex-start;
	padding-right: 14.7rem;
	position: relative;
	margin-right: 3.5rem;
	height: 100%;
	min-height: $header;
	border-right: .1rem solid rgba(255, 255, 255, 0.1);
	@include bp($point_2) {
		padding-right: 0;
		border: none;
	}
}
.header_logo {
	max-width: 17rem;
	margin-right: 7rem;
	@include bp($point_2) {
		margin-right: 0;
		max-width: 5rem;
	}
	a {
		width: 100%;
		height: 100%;
		@include flex-center;
		img:first-child {
			@include bp($point_2) {
				display: none
			}
		}
	}
}
.header_nav {
	ul {
		@include flex-start;
		@include bp($point_2) {
			display: none;
		}

		li {
			a {
				font-family: $font_11;
			}
			&:not(:last-child) {
				margin-right: 7rem;
			}

			a.active, a:hover {
				color: $red;
			}
		}
	}
}
.header_col_right {
	@include flex-start;
	@include bp($point_2) {
		justify-content: space-between;
	}
} 
.mobile_logo {
	display: none;
	@include bp($point_2) {
		display: block;
	}
}
.header_phone {
	margin-right: 4.5rem;
	@include bp($point_2) {
		margin-right: 3rem;
	}
	a {
		@include flex-start;
		font-size: 2rem;
		font-family: $font_11;
		@include bp($point_2) {
			font-size: 1.6rem;
		}
	}
}
.header_icon {
	width: 2.6rem;
	height: 2.6rem;
	@include flex-center;
	margin-right: 2rem;
	@include bp($point_2) {
		display: none;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}
.icon {
}
.icon-wa {
}
.header_call {
	@include bp($point_2) {
		display: none;
	}
}

.header_burger {
	display: none;
	width: 3rem;
	height: 2.3rem;
	opacity: 1;
	visibility: visible;
	transition: all .3s ease;
	&.active {
		opacity: 0;
		visibility: hidden
	}
	@include bp($point_2) {
		@include flex-center;
		flex-direction: column;
	}

	span {
		width: 100%;
		height: .3rem;
		border-bottom: .3rem solid $white;
		border-radius: 1rem;
		&:nth-child(2) {
			margin: .7rem 0;
		}
	}
}